/* the styles for the elements */
html {
	background-color: #9369d1;
}
body {
	font-size: 100%;
	margin: 0;
}

/* the styles for the header */
header{
	background-image: url("../images/header.jpg");
	background-repeat: no-repeat;
	height: 150%;
	display: block;
	margin-left:10em;
	margin-right: auto;
}
header h1{ 
	text-align: center;
	font:300% arial, sans-serif;
	color: black;
	padding-top: 2.5em;
	background-color: white;
	opacity: 0.3;
}
/* the styles for the nav content */
aside{
	float:left;
	margin-left:2.5%;
	text-align: center;
}
aside h2 {
	font:140% arial, sans-serif;
	text-align: center;
	width: auto;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	background: whitesmoke;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-left:7em;
	margin-right: 3em;
	margin-bottom: auto;
}
main{
	float:left;
	margin:5em;
}
.sidenav {
	height: 100%;
	width: 13em;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 1.667em;
	float:left;
  }
  
  .sidenav a {
	padding: 0.5em 0.667em 0.5em 1.333em;
	text-decoration: none;
	font-size: 1.5em;
	color: #818181;
	display: block;
  }
  
  .sidenav a:hover {
	color: #8057DB;
  }
  
  .main {
	margin-left:5em; 
	font-size: 2em; 
	padding: 0em .5em;
  }
  
/* the styles for the article content */
article{
	background: whitesmoke;
}
article p{
	font: 5em arial, sans-serif;
	text-align: left;
}
article img{
	border: solid 1px black;
	width: 15em;
	height:9.8em;
	margin: auto;
}
article figcaption{
	font: .7em arial, sans-serif;
}
article h2 {
	font: 1em arial, sans-serif;
	color: black;
	text-shadow: 2px 2px 8px #8057DB;
	text-align: center;
	width: auto;
	border-top: .2em solid black;
	border-bottom: .2em solid black;
	padding-top: .5em;
	padding-bottom: .5em;
}
article b{
	font-family: "sans-serif Bold";
	font-size: .9em; 
	font-style: normal;
	font-variant: normal; 
	font-weight: 700; 
	line-height: 2.2em; 
}
article h3{
	font: .7em arial, sans-serif;
}

	
.clearfix::after {
		content: "";
		clear: both;
		display: table;
}
/* the styles for the main content */

main { clear: left;
background-color: whitesmoke }


/* the styles for the footer */

footer p {
	font: 1em arial, sans-serif;
	border-bottom: 1px solid black;
	background: whitesmoke;
	padding-bottom: 1em;
	text-align: center;
}
