/* the styles for the elements */
html {
	background-color: #9369d1;
}
body {
	font-size: 100%;
	margin: 0;
	margin-left:10em;
}

/* the styles for the header */
header{
	background-image: url("../images/header.jpg");
	background-repeat: no-repeat;
	height: 150%;
	display: block;
	margin-left: 10em;
	margin-right: auto;
}
header h1{ 
	text-align: center;
	font: 300% arial, sans-serif;
	color: black;
	padding-top: 2.5em;
	background-color: white;
	opacity: 0.3;
}
/* the styles for the nav content */


.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
	float:left;
  }
  
  .sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
  }
  
  .sidenav a:hover {
	color: #8057DB;
  }
  
  .main {
	margin-left: 160px; 
	font-size: 28px; 
	padding: 0px 10px;
  }
  .clearfix::after {
		content: "";
		clear: both;
		display: table;
}
/* the styles for the main content */

main{
	float:left;
	margin:5em;
	background: #9369d1;
}

/* the styles for the footer */
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	margin-left: 20em;
  }
  

  .column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
  }
  
  .column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
  }

  @media screen and (max-width: 800px) {
	.column {
	  flex: 50%;
	  max-width: 50%;
	}
  }
  @media screen and (max-width: 600px) {
	.column {
	  flex: 100%;
	  max-width: 100%;
	}
  }
  footer p {
	font: 1em arial, sans-serif;
	border: 2px solid black;
	background: whitesmoke;
	padding-bottom: 1em;
	padding-top:1em;
	text-align: center;
	margin-left: 10em;
}